*
!/app
!/bootstrap
!/config
!/database/factories
!/database/migrations
!/database/seeders
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
!/resources
!/routes
!/storage

!/artisan
!/composer.json
!/composer.lock
!/package.json
!/package-lock.json
!/vite.config.js
